html {
	font-size: 14px;
}

.button {
	vertical-align:center;
	font-weight: bold;
	font-size: 1.25em;
}

.cluenumber {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

.cluebody {
	text-align: center;
	font-weight: bold;
	font-size: 1.75em;
}

.modal-backdrop {
	/* make background black for modals
	   (ideally would make it just for code reveals) */

	opacity: 1.0 !important;
}

.codebody {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
}
